
.container{
    @apply w-full h-[92vh] lg:h-[88vh] lg:px-[50px] flex;
}
.wrapper{
    @apply h-full flex items-center justify-center 
}

.info-section{
    @apply w-full  h-[25%] md:h-[20%] 2xl:h-[30%] justify-center flex flex-col items-center;
}

.contact-title{
    @apply text-[1.4rem] lg:text-[2rem] 2xl:text-[3rem] 2xl:tracking-wide font-semibold font-roboto text-dark-900 tracking-[0.5px] dark:text-light-900 slide-top;
}

.paragraph-styling{
    @apply lg:text-right text-center text-dark-800 text-[0.8rem] lg:text-[1rem] font-normal font-roboto lg:mt-2 2xl:mt-4  dark:text-light-800 slide-right;
}

.email-styling{
    @apply text-dark-900 dark:text-light-800 font-semibold transition duration-700 ease-in-out email-animation;
}

.form-container{
    @apply w-full h-[75%] md:h-[50%] lg:h-[60%]  2xl:h-[70%] 2xl:justify-start flex flex-col md:justify-center px-[50px];
}

@keyframes slide-right{
    0%{
      transform:translateX(-100px);
      -webkit-transform:translateX(-100px);
      -moz-transform:translateX(-100px);
      -ms-transform:translateX(-100px);
      -o-transform:translateX(-100px);
}
   100%{
      transform:translateX(100px);
      -webkit-transform:translateX(0px);
      -moz-transform:translateX(0px);
      -ms-transform:translateX(0px);
      -o-transform:translateX(0px);
}
}

.slide-right{
  animation:slide-right 0.6s linear both;
  -webkit-animation:slide-right 0.6s linear both;
}

@keyframes shadow-drop-center{
    0%{
        box-shadow:0 0 0 0 transparent
    }
    30%{
        box-shadow:0 0 20px 0 rgba(0, 0, 0, 0.682)
    }
    50%{
        box-shadow:0 0 30px 0 rgba(0, 0, 0, 0.682)
    }
    80%{
        box-shadow:0 0 40px 0 rgba(7, 7, 7, 0.694)
    }
    100%{
        box-shadow:0 0 0 0 transparent
    }
}

.shadow-drop-center{
    animation:shadow-drop-center 0.8s linear both;
    -webkit-animation:shadow-drop-center 0.8s linear both;
}

@keyframes scale-up-center{
    0%{
        transform:scale(.5);
    } 
    100%{
        transform:scale(1);
        -webkit-transform:scale(1);
        -moz-transform:scale(1);
        -ms-transform:scale(1);
        -o-transform:scale(1);
} 
}
.scale-up-center{
    animation:scale-up-center 1s;
    -webkit-animation:scale-up-center 1s;
} 


@keyframes e-animation{
    0%{
        text-shadow:0 0 0 0 transparent
    }
    100%{
        text-shadow: 2px 0px 2px rgba(202, 205, 206, 0.486);
    }
}

.email-animation{
    animation:e-animation 4s ease-in-out both infinite;
    -webkit-animation:e-animation 4s ease-in-out both infinite;
} 


@keyframes scale-up-center{ 
    0%{
        transform:scale(.5);
        -webkit-transform:scale(.5);
        -moz-transform:scale(.5);
        -ms-transform:scale(.5);
        -o-transform:scale(.5);
    }
    100%{
         transform:scale(1); -webkit-transform:scale(1); -moz-transform:scale(1); -ms-transform:scale(1); -o-transform:scale(1); 
        } 
    }

.scale-up-center{
    animation:scale-up-center 1s;
    -webkit-animation:scale-up-center 1s;
}

@keyframes slide-top {
    0% {
      transform: translateY(-10px);
      -webkit-transform: translateY(-10px);
      -moz-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      -o-transform: translateY(-10px);
}
    100% {
      transform: translateY(-100px);
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
    }
  }
  
  .slide-top {
    animation: slide-top 0.6s linear both;
    -webkit-animation: slide-top 0.6s linear both;
}
